body {
  position: relative;
  width: 1512px;
  height: 981px;
  background: #F1F4F8;
}
.container {
  display: flex;
  flex-direction: column;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 34px 20px;
  gap: 34px;
  position: absolute;
  width: 229px;
  height: 950px;
  left: 16px;
  top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}
.top--side{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 50px;
  width: 189px;
  height: 370px;
}
.top--side img{
  width: 160px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 189px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.op {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  width: 189px;
  height: 48px;
  border-radius: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.options img {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.options p {
  width: 86px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;
  color: #1E1E1E;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#internships {
  box-sizing: border-box;
  background: rgba(102, 95, 239, 0.2);
  border: 1px solid #793EF5;
}

#internships p{
  color: #793EF5;
}

.bottom--side {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 152px;
  height: 50px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bottom--side p {
  width: 92px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;
  color: #1E1E1E;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.rectangle {
  width: 50px;
  height: 50px;
  background: #E2E6EB;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content--box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 1135px;
  height: 906px;
  left: 311px;
  top: 57px;
}

.top--bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 626px;
  width: 1135px;
  height: 44px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top--bar p {
  width: 178px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;
  color: #1E1E1E;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top--bar button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 217px;
  height: 44px;
  background: #793EF5;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
}

.top--bar button img {
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top--bar button p {
  width: 157px;
  height: 20px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1135px;
  height: 830px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.top--frame  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 1135px;
  height: 270px;
  background: #FFFFFF;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.insights {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  width: 280px;
  height: 238px;
  background: #F6F5F9;
  border-radius: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.insights--box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 248px;
  height: 156px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#internship--insights {
  width: 248px;
  height: 24px;
  font-family: 'Eloquia Display';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#insights--note {
  width: 229px;
  height: 120px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;
  color: #1E1E1E;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.left--frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 813px;
  height: 238px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.filter--bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  width: 813px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.filter--frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 448px;
  width: 797px;
  height: 32px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.filter--frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 203px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.this--week {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  width: 91px;
  height: 32px;
  background: #793EF5;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.this--week p {
  width: 67px;
  height: 20px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.this--month {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  width: 100px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
}

.this--month p {
  width: 76px;
  height: 20px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #1E1E1E;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.select--dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  width: 137px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
}

.select--dates img {
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.select--dates p {
  width: 85px;
  height: 20px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #1E1E1E;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.funnel {
  width: 789px;
  height: 174px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 1135px;
  height: 536px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.table img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame--one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 385px;
  height: 536px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.one--one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  gap: 56px;
  width: 361px;
  height: 24px;
  background: #F6F5F9;
  border-radius: 20px 0px 0px 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.one--one h3 {
  width: 102px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #2F3031;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.one--two {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 56px;
  width: 353px;
  height: 61px;
  background: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.name--desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 195px;
  height: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#name--desc--last {
  border-radius: 0px 0px 0px 20px;
}

.name {
  width: 195px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #2F3031;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px;
}

.desc {
  width: 195px;
  height: 32px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: 'liga' off;
  color: #2F3031;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px;
}

.frame--two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 200px;
  height: 536px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.two--one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  gap: 5px;
  width: 175px;
  height: 24px;
  background: #F6F5F9;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.two--one h3 {
  width: 124px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #2F3031;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.two--two {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 56px;
  width: 168px;
  height: 61px;
  background: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.completion--period {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 137px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.completion--period h3 {
  width: 136px;
  height: 20px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: 'liga' off;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

.completion--period p {
  width: 137px;
  height: 16px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: 'liga' off;
  color: #828282;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px;
}

.frame--three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 160px;
  height: 536px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.three--one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  gap: 5px;
  width: 135px;
  height: 24px;
  background: #F6F5F9;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.three--one h3 {
  width: 92px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #2F3031;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.three--two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 56px;
  width: 128px;
  height: 61px;
  background: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;  
}

.total--enrolled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 94px;
  height: 40px;
  background: #F0EFFD;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.total--enrolled p {
  width: 62px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'liga' off;
  color: #793EF5;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

.frame--four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 250px;
  height: 536px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.four--one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  gap: 56px;
  width: 225px;
  height: 24px;
  background: #F6F5F9;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.four--one h3 {
  width: 140px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #2F3031;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.four--two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 56px;
  width: 218px;
  height: 61px;
  background: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.qualified--candidates img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 190px;
  height: 60px;
  flex: none;
  order: 0;
  flex-grow: 0;
  opacity: 1;
}

.frame--five {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 140px;
  height: 536px;
  flex: none;
  order: 4;
  flex-grow: 0;
}
 .five--one {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 56px;
  width: 129px;
  height: 24px;
  background: #F6F5F9;
  border-radius: 0px 20px 0px 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.actions {
  width: 52px;
  height: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #2F3031;
  opacity: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.five--two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 56px;
  width: 129px;
  height: 61px;
  background: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.five--two img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 108px;
  height: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
  opacity: 1;
}