.frame--one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 385px;
    height: 536px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px;
  }
  
  .one--one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 56px;
    width: 385px;
    height: 56px;
    background: #F6F5F9;
    border-radius: 20px 0px 0px 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .one--one p {
    width: 102px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #2F3031;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .one--one img {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .one--two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 56px;
    width: 385px;
    height: 96px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
  }
  
  .one--three {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 56px;
    width: 385px;
    height: 96px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 20px;
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
  }
  .name--desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 195px;
    height: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .name{
    width: 195px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #2F3031;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
  }
  
  .desc {
    width: 195px;
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'liga' off;
    color: #2F3031;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
  
  }
  
  .frame--two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 200px;
    height: 536px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 1px solid black;
  }
  
  .two--one {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 16px;
    width: 200px;
    background: #F6F5F9;
    flex: none;
    gap: 30px;;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .two--one h3 {
    width: 124px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #2F3031;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
  }
  
  .two--one img {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;
    border: 1px solid black;
  }
  
  .two--two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 12px;
    padding-left: 16px;
    gap: 56px;
    width: 200px;
    height: 96px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .completion--period {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 137px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .completion--period h2 {
    width: 136px;
    height: 20px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
  }
  
  .completion--period p {
    width: 137px;
    height: 16px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'liga' off;
    color: #828282;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;
  }
  
  .frame--three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    width: 160px;
    height: 536px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 1px solid black;
  }
  
  .three--one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 16px;
    padding-left: 16px;
    gap: 56px;
    
    width: 160px;
    height: 56px;
    
    background: #F6F5F9;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: 1px solid black;
  }
  
  .three--one h3 {
    width: 92px;
    height: 24px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    font-feature-settings: 'liga' off;
    
    /* Text/Text - 01 */
    
    color: #2F3031;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
  }
  
  .three--one img {
    width: 20px;
    height: 20px;
    
    opacity: 0.5;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .three--two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 56px;
    
    width: 160px;
    height: 96px;
    
    /* Snow */
    
    background: #FFFFFF;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .total--enrolled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
    
    width: 94px;
    height: 40px;
    
    background: #F0EFFD;
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .total--enrolled p {
    width: 62px;
    height: 24px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    
    /* Purple */
    
    color: #793EF5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
  }